*{
    margin: 0;
    padding: 0;
}
.card{
    text-align: center;
    border: 1px solid black;
    height: 100vh;
}
.card2{
    border: 1px solid blue;
    height: 80vh;
    margin-left: 500px;
    margin-top: 60px;
    width: 300px;
    background-color: rgb(235,236,240);
    border-radius: 20px;
    outline: 300px;
}
button{
    min-height:2em ;
    min-width: 2.5em;
    margin: 30px;
    background-color: lightblue;
    color: blue;
    border-radius: 5px;
    border: 0.5 rgb(155, 218, 240);
    border-color: lightblue;
}
p{
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}
img{
    border-radius:20px ;
    margin-top: 2px;
}